.footer {background-color: var(--color-nav);color: #ffffff;}
.margener-footer {width: 95%; margin: 0 auto; padding-bottom: var(--spacing-md);}
.footer-container {display: grid;grid-template-columns: 2fr 1fr 1.5fr;
    text-align: left; padding-top: var(--spacing-lg);gap: var(--spacing-lg);}
.footer-brand {display:block}
.footer-brand img {height: 48px; width: auto;padding-bottom: var(--spacing-sm); 
    filter: brightness(1.25); transition: transform 0.3s ease, filter 0.3s ease}
.footer-brand p {font-size: var(--font-size-xs);color: var(--border);}

.footer-column {display: flex;flex-direction: column;gap: 3px;
    padding-bottom: var(--spacing-md);}

.footer-column h4 {
    color: var(--color-primary-border); margin-bottom: 3px;
    font-size: var(--font-size-lg);font-weight: bold;}

.footer-column a {text-decoration: none;color: var(--border);}
.footer-column a:hover {color: var(--color-primary);}

.footer-link {display: flex; align-items: center;      
    gap: 7px;text-decoration: none;}

.footer-link .icon {display: flex;align-items: left;}
.footer-link .icon i {font-size: 15px;}

.footer-link span {color: var(--border);}
.footer-link span:hover {color: var(--color-primary);}
.footer-link .text {padding-left: var(--spacing-md);}